<div class="container">
  <div class="row">
  </div>
  <div class="row">
    <!-- <div class="col-md-4 mb-3">
      <div class="form">
        <div class="form-floating mb-3 form-group">
          <input type="text" class="form-control" placeholder="Order Number" id="OrderNumber" #OrderNumber>
          <label for="floatingInput">OrderNumber</label>
        </div>
        <div class="form-floating mb-3 form-group">
          <input type="text" class="form-control" placeholder="Order Due Date" id="OrderDueDate" #OrderDueDate>
          <label for="floatingPassword">OrderDueDate</label>
        </div>
        <div class="form-floating mb-3 form-group">
          <input type="text" class="form-control" placeholder="Customer Buyer Name" id="CustomerBuyerName"
            #CustomerBuyerName>
          <label for="floatingPassword">CustomerBuyerName</label>
        </div>
        <div class="form-floating mb-3 form-group">
          <input type="text" class="form-control" placeholder="Customer Address" id="CustomerAddress" #CustomerAddress>
          <label for="floatingInput">CustomerAddress</label>
        </div>
        <div class="form-floating mb-3 form-group">
          <input type="text" class="form-control" placeholder="Customer Phone" id="CustomerPhone" #CustomerPhone>
          <label for="floatingPassword">CustomerPhone</label>
        </div>
        <div class="form-floating mb-3 form-group">
          <input type="text" class="form-control" placeholder="Order Total" id="OrderTotal" #OrderTotal>
          <label for="floatingPassword">OrderTotal</label>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary mx-3"
              (click)="onAddProduct(OrderNumber,OrderDueDate,CustomerBuyerName,CustomerAddress,CustomerPhone,OrderTotal)">{{editMode?
              'Update':
              'Add'}}</button>
            <button class="btn btn-info mx-3" (click)="onSaveProduct()">save</button>
            <button class="btn btn-success mx-3" (click)="onFetchProduct()">Fetch</button>
          </div>
        </div>
      </div>
    </div> -->
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="col-md-12 mb-3" >
      <div class="form">
        <div class="form-floating mb-3 form-group">
          <input type="text" class="form-control" placeholder="Order Number" id="OrderNumber" #OrderNumber>
          <label for="floatingInput">OrderNumber</label>
        </div>
        <div class="form-floating mb-3 form-group">
          <input type="text" class="form-control" placeholder="Order Due Date" id="OrderDueDate" #OrderDueDate>
          <label for="floatingPassword">OrderDueDate</label>
        </div>
        <div class="form-floating mb-3 form-group">
          <input type="text" class="form-control" placeholder="Customer Buyer Name" id="CustomerBuyerName"
            #CustomerBuyerName>
          <label for="floatingPassword">CustomerBuyerName</label>
        </div>
        <div class="form-floating mb-3 form-group">
          <input type="text" class="form-control" placeholder="Customer Address" id="CustomerAddress" #CustomerAddress>
          <label for="floatingInput">CustomerAddress</label>
        </div>
        <div class="form-floating mb-3 form-group">
          <input type="text" class="form-control" placeholder="Customer Phone" id="CustomerPhone" #CustomerPhone>
          <label for="floatingPassword">CustomerPhone</label>
        </div>
        <div class="form-floating mb-3 form-group">
          <input type="text" class="form-control" placeholder="Order Total" id="OrderTotal" #OrderTotal>
          <label for="floatingPassword">OrderTotal</label>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary mx-3"
              (click)="onAddProduct(OrderNumber,OrderDueDate,CustomerBuyerName,CustomerAddress,CustomerPhone,OrderTotal)">{{editMode?
              'Update':
              'Add'}}</button>
            <button class="btn btn-info mx-3" (click)="onSaveProduct()">save</button>
            <button class="btn btn-success mx-3" (click)="onFetchProduct()">Fetch</button>
          </div>
        </div>
      </div>
    </div>
          
        </form>
      </div>
      
    </ng-template>
    <div class="text-right">
      <button class="btn btn btn-outline-primary " (click)="open(content)">New Order</button>
      </div>
    <div class="col-md-12" >
      <div class="row" style="background-color: rgb(253, 175, 7);color:white;text-align:center;width:100%" id="thead">
        <div class="col-1">#</div>
        <div class="col-2">Id</div>
        <div class="col-3">Name</div>
        <div class="col-2 ">Price</div>
        <div class="col-2 ">Edit</div>
        <div class="col-2 ">Delete</div>
      </div>
      <div *ngIf="!fetching" class="table-wrapper-scroll-y my-custom-scrollbar">
        <div class="row" *ngFor="let product of products; index as i"
          style="text-align:center;width:103%;padding-bottom:5px">
          <div class="col-1">{{i+1}}.</div>
          <div class="col-1">{{product.OrderNumber}}</div>
          <div class="col-1">{{product.OrderDueDate}}</div>
          <div class="col-2 ">{{product.CustomerBuyerName}}</div>
          <div class="col-2">{{product.CustomerAddress}}</div>
          <div class="col-2">{{product.CustomerPhone}}</div>
          <div class="col-1 ">{{product.OrderTotal}}</div>
          
          <div class="col-1 "><a class="text-primary" style="cursor:pointer"  (click)="onEditProduct(i)"><i
                class="fa fa-edit"></i></a></div>
          <div class="col-1 "><a class="text-danger" style="cursor:pointer" (click)="onDeleteProduct(i)"><i
                class="fa fa-trash"></i></a></div>
        </div>
      </div>
      <div style="text-align:center;margin-top:5px">
        <button *ngIf="!fetching" class="btn btn-danger" (click)="onAllDeleteProduct(OrderNumber)">Delete All </button>
      </div>
      <div *ngIf="fetching" class="spinner-border text-success text-center" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div *ngIf="fetching">Fetching products...</div>
    </div>
  </div>
  <form *ngIf="Edit">
    <div class="col-md-12 mb-3" >
<div class="form">
  <div class="form-floating mb-3 form-group">
    <input type="text" class="form-control" placeholder="Order Number" id="OrderNumber" #OrderNumber>
    <label for="floatingInput">OrderNumber</label>
  </div>
  <div class="form-floating mb-3 form-group">
    <input type="text" class="form-control" placeholder="Order Due Date" id="OrderDueDate" #OrderDueDate>
    <label for="floatingPassword">OrderDueDate</label>
  </div>
  <div class="form-floating mb-3 form-group">
    <input type="text" class="form-control" placeholder="Customer Buyer Name" id="CustomerBuyerName"
      #CustomerBuyerName>
    <label for="floatingPassword">CustomerBuyerName</label>
  </div>
  <div class="form-floating mb-3 form-group">
    <input type="text" class="form-control" placeholder="Customer Address" id="CustomerAddress" #CustomerAddress>
    <label for="floatingInput">CustomerAddress</label>
  </div>
  <div class="form-floating mb-3 form-group">
    <input type="text" class="form-control" placeholder="Customer Phone" id="CustomerPhone" #CustomerPhone>
    <label for="floatingPassword">CustomerPhone</label>
  </div>
  <div class="form-floating mb-3 form-group">
    <input type="text" class="form-control" placeholder="Order Total" id="OrderTotal" #OrderTotal>
    <label for="floatingPassword">OrderTotal</label>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary mx-3"
        (click)="onAddProduct(OrderNumber,OrderDueDate,CustomerBuyerName,CustomerAddress,CustomerPhone,OrderTotal)">{{editMode?
        'Update':
        'Add'}}</button>
      <button class="btn btn-info mx-3" (click)="onSaveProduct()">save</button>
      <button class="btn btn-success mx-3" (click)="onFetchProduct()">Fetch</button>
    </div>
  </div>
</div>
</div>
    
  </form>
</div>